{% extends "codesphere/layout.html" %}
{% block body %}
<h1>About</h1>
<p>text here</p>
<p>more text here</p>
<style>
	perhaps a bit of css too {}

	maybe some
	@import s;
	
	and :hover s :active s {}

	maybe even :before s {}
</style>
<script>
	"good";Applications.never("lack")["some"].Javascript;
</script>
<grape>
	%perhaps "even";
	%a $bit "of";
	%grape "code";
</grape>
<py>
	print("maybe hack in a bit of python")
</py>
<md>
	*** some nice MD?
</md>
<and><pseudoelements>
	Who knows what could be in here...
</pseudoelements></and>
what am i even supposed to write?
you never told me...
{% endblock %}

just to make this long
for (let i = 0; i < 100; i++) {
	fs.appendFile("./about.html", "\n");
}
