{% extends "codesphere/layout.html" %}

{% block body %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <form action="{% url 'apiask' %}" method="POST">
      {% csrf_token %}
        <div class="header-container">
          {{ form.question }}<span class="underline"></span>
        </div><br>
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="tags">
          {{ form.tags }}
          <span class="btn codesphere-bg-dark" onclick="addTag()">Add Tag</span>
        </div>
        <div id="display"></div>
        {{ form.content }}<hr>
        <input type="submit" class="btn btn-primary" value="Ask">
      </form>
    </div>
  </div>
</div>
{% endblock %}
