{% extends "codesphere/layout.html" %}

{% block body %}
<div class="container">
  <div class="card shadow post mt-5 mx-5">
    <div class="card-body">
      <form action="{% url 'apicollective' %}" method="POST">
      {% csrf_token %}
        <div class="header-container">
          {{ form.name }}<span class="underline"></span>
        </div><br>
        <div class="input-group mt-3">
          {{ form.icon }}
        </div>
        <div id="display" class="mb-3 mt-3"></div>
        {{ form.content }}<hr>
        <input type="submit" class="btn codesphere-fill-btn" value="Ask">
      </form>
    </div>
  </div>
</div>
{% endblock %}
