{% extends "codesphere/layout.html" %} 
{% block title %}
{{ question.question }} | Codesphere
{% endblock %}
{% block body %}
<div class="container">
	<div class="main">
		<div class="card shadow-sm post">
			<div class="card-body">
				<div class="upvote">
					<span class="num">{{ question.upvotes }}</span>
            <div class="ctrl-btn">
              <button class="btn-upvote rounded-circle" {% if request.user %}onclick="vote({{ question.id }}, 'up')"{% else %} disabled {% endif %}><i class="bi bi-caret-up-fill"></i></button><br>
              <button class="btn-downvote rounded-circle" {% if request.user %} onclick="vote({{ question.id }}, 'down')" {% else %} disabled {% endif %}><i class="bi bi-caret-down-fill"></i></button>
            </div>
        </div>
        <div class="user-display">
            <img src="{{ question.asker.picture }}" width="42" height="42">
            <div class="user-info text-muted">
              {{ question.asker.username }}<br>
              <div class="time">{{ question.timestamp }}</div>
            </div>
            <br>
        </div>
        <h3>{{ question.question }}</h3>
        <p class="parse">{{ question.content }}</p>
        <hr />
        <div style="float: right;" class="mb-1">
          {% if question.asker.pk == user.pk %}
          <li class="d-inline rounded-pill codesphere-btn" data-bs-toggle="modal" data-bs-target="#question_{{ question.id }}"><i class="icon-g rounded-circle bi bi-pencil-square"></i> Edit</li>
          {% endif %}
          <li class="d-inline rounded-pill codesphere-btn"><i class="icon-b rounded-circle bi bi-bookmark"></i> Save</li>
          <li class="d-inline rounded-pill codesphere-btn"><i class="icon-r rounded-circle bi bi-flag"></i> Report</li>
          <button class="d-inline codesphere-btn rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse"><i class="icon-p rounded-circle bi bi-chat-dots"></i> Comments</button>
        </div>
        <div class="modal fade" id="question_{{ question.id }}" tabindex="-1" aria-labelledby="{{ question.id }}Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="{% url 'apiqedit' question.pk %}" method="post">
                <div class="modal-body">
                  <div class="header-container">
                    {% csrf_token %}
                    {{ ask.question }}<span class="underline"></span>
                  </div><br>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="tags">
                    {{ ask.tags }}
                    <span class="btn codesphere-fill-btn" onclick="addTag()">Add Tag</span>
                  </div>
                  <div id="display">
                  {% for i in tags %}
                  {% if i != "" %}
                  <div class="badge bg-secondary me-1">
                    {{ i }}
                    <button type='button' class='btn-close' aria-label='Close' onclick='closeTag(this.parentElement)'></button>
                  </div>
                  {% endif %}
                  {% endfor %}
                  </div>
                  {{ ask.content }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn codesphere-fill-btn">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3 mt-3">
          <form action="{% url 'apiqcomment' question.id %}" method="POST">
            {% csrf_token %}
            <div class="input-group mh-25">
              {{ comment.content }}
              <input type="submit" class="btn codesphere-fill-btn">
            </div>
          </form>
        </div>
        <br>
        <div class="comment collapse" id="collapse">
          {% for i in qcomments %}
          <div class="user-display">
            <img src="{{ i.commenter.picture }}" width="42" height="42">
            <div class="user-info text-muted">
              {{ i.commenter.username }}<br>
              <div class="time">{{ i.timestamp }}</div>
            </div>
            <br>
          </div>
          <span class="text-muted">
            {{ i.content }}
          </span>
          <hr>
          {% endfor %}
      </div>
    </div>
  </div>
{% for i in answers %}
<div class="main">
   <div class="card shadow-sm post">
      <div class="card-body">
         <div class="upvote">
            <span class="num">{{ i.upvotes }}</span>
            <div class="ctrl-btn">
               <button class="btn-upvote rounded-circle" {% if request.user %}onclick="avote({{ i.id }}, 'up')"{% else %} disabled {% endif %}><i class="bi bi-caret-up-fill"></i></button><br>
               <button class="btn-downvote rounded-circle" {% if request.user %} onclick="avote({{ i.id }}, 'down')"{% else %} disabled {% endif %}><i class="bi bi-caret-down-fill"></i></button>
            </div>
         </div>
         <div class="user-display">
            <img src="{{ i.replier.picture }}" width="42" height="42">
            <div class="user-info text-muted">
               {{ i.replier.username }}<br>
               <div class="time">{{ i.timestamp }}</div>
            </div>
            <br>
         </div>
         <div style="padding-top: 20px;">
          <p class="parse">{{ i.content }}</p>
         </div>
         <hr />
        <div style="float: right;" class="mb-1">
          {% if question.asker.pk == user.pk %}
          <form action="{% url 'apicorrect' i.pk True %}" method="post">
            {% csrf_token %}
            <li type="submit" class="d-inline rounded-pill codesphere-btn"><i class="icon-g rounded-circle bi bi-check-lg"></i> Correct</li>
          </form>
          {% endif %}
          {% if request.user.pk == i.replier.pk %}
          <li class="d-inline rounded-pill codesphere-btn" data-bs-toggle="modal" data-bs-target="#answer_{{ i.id }}"><i class="icon-g rounded-circle bi bi-pencil-square"></i> Edit</li>
          {% endif %}
          <li class="d-inline rounded-pill codesphere-btn"><i class="icon-b rounded-circle bi bi-bookmark"></i> Save</li>
          <li class="d-inline rounded-pill codesphere-btn"><i class="icon-r rounded-circle bi bi-flag"></i> Report</li>
          <button class="d-inline codesphere-btn rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{i.id}}" aria-expanded="false" aria-controls="collapse"><i class="icon-p rounded-circle bi bi-chat-dots"></i> Comments</button>
        </div>
        <div class="modal fade" id="answer_{{ i.id }}" tabindex="-1" aria-labelledby="{{ i.id }}Label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form action="{% url 'apiaedit' i.pk %}" method="post">
                <div class="modal-body">
                  {% csrf_token %}
                  <textarea name="content" class="form-control" rows="12" placeholder="Please specify your question here..."></textarea><br>
                  <input type="hidden" name="id" value="{{ question.id }}">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn codesphere-fill-btn">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      <div class="col-lg-3 mt-3">
        <form action="{% url 'apiacomment' i.id %}" method="POST">
          {% csrf_token %}
          <div class="input-group mh-25">
            {{ comment.content }}
            <input type="submit" class="btn codesphere-fill-btn">
          </div>
        </form>
      </div>
      <br>
      <div class="comment collapse" id="collapse_{{i.id}}">
        {% for j in acomments %}
        {% if j.answer.id == i.pk %}
        <div class="user-display">
          <img src="{{ j.commenter.picture }}" width="42" height="42">
          <div class="user-info text-muted">
            {{ j.commenter.username }}<br>
            <div class="time">{{ j.timestamp }}</div>
          </div>
          <br>
        </div>
        <span class="text-muted">
          {{ j.content }}
        </span>
        <hr>
        {% endif %}
        {% endfor %}
    </div>
      </div>
   </div>
</div>
{% endfor %} 
<hr>
{% if request.user %}
<div class="card">
   <div class="card-body">
      <h3>Your answer</h3>
      <span>Have an answer? Type it down in the textbox below and support CodeSphere today!</span>
      <hr>
      <form action="{% url 'apians' %}" method="POST">
         {% csrf_token %}
         <textarea name="content" class="form-control" rows="12" placeholder="Please specify your question here..."></textarea><br>
         <input type="hidden" name="id" value="{{ question.id }}">
         <input type="submit" class="btn codesphere-fill-btn" value="Answer">
      </form>
   </div>
</div>
{% endif %}
</div>
{% endblock %}