{% extends "codesphere/layout.html" %} {% block body %}
<section class="h-100">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col col-lg-9 col-xl-7">
				<div class="card" style="border-radius: 10px;">
					<div class="text-white d-flex flex-row codesphere-grad-dark" style="height:200px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
						<div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
							<img src="{{ user.picture }}" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 160px; z-index: 1">
            </div>
            <div class="ms-3" style="margin-top: 130px;">

              <h5>{{ user.username }}</h5>
              <p>{{ location.country }}, {{ location.region }}, {{ location.city }}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div class="px-3">
                <p class="mb-1 h5"> {{ user.reputation }}</p>
                <p class="small text-muted mb-0">Reputation</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">{{ user.email }}</p>
                <p class="small text-muted mb-0">Email</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <form action="{% url 'about' user.pk %}" method="post" enctype="multipart/form-data">

                {% csrf_token %}
                <p class="lead fw-normal mb-1">Edit</p>
                <label><b>Upload a Profile Picture</b></label><br>
                {{ form.upload }}<hr>
                <label><b>Bio<b></label><br>
                {{ form.bio }}
                <br>
                <input type="submit" value="Save" class="btn codesphere-grad-dark">
                {% if message %}
                  <div class="alert alert-warning" role="alert">
                    {{ message }}
                  </div>
                {% endif %}
              </form>
            </div>
            <div class="recent" style="overflow: scroll; height: 307px;">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">Recent Questions</p>
              </div>
              {% for i in question %}
              <div class="card">
                <div class="card-body">
                  <h1>{{ i.question }}</h1>
                  <p class="lead">{{ i.content|truncatechars:90 }}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</form>
{% endblock %}