{% extends "codesphere/layout.html" %} {% block body %}
<div class="container">
  <div class="row mt-3">
    <div class="col-lg-2 mt-5">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link round-pill active" aria-current="page" href="#">Active</a>
        <a class="nav-link round-pill" href="#">Link</a>
        <a class="nav-link round-pill" href="#">Link</a>
        <a class="nav-link round-pill" href="#">Link</a>
      </nav>
    </div>
    <div class="col-lg-10">
      <div class="row">
        <div class="col-lg-9">
          {% for i in questions %}
          <div class="card shadow-sm post">
            <div class="card-body" onclick="window.location.href='{% url 'display' i.id %}'">
              <div class="upvote">
                <span class="num">{{ i.upvotes }}</span>
                <div class="ctrl-btn">
                  <button class="btn-upvote rounded-circle" {% if request.user %}onclick="vote({{ question.id }}, 'up')"{% else %} disabled {% endif %}><i class="bi bi-caret-up-fill"></i></button><br>
                  <button class="btn-downvote rounded-circle" {% if request.user %} onclick="vote({{ question.id }}, 'down')" {% else %} disabled {% endif %}><i class="bi bi-caret-down-fill"></i></button>
                </div>
              </div>
              <div class="user-display">
                <img src="{{ i.asker.picture }}" class="rounded-circle" width="42" height="42">
                <div class="user-info text-muted">{{ i.asker.username }}<br><div class="time">{{ i.timestamp }}</div></div><br>
              </div>
              <h3>{{ i.question }}</h3>
                {% for j in tag %}
                {% if j.pk == i.pk %}
                <span class="badge bg-secondary">{{ j.tag }}</span>
                {% endif %}
                {% endfor %}
                <p class="parse">{{ i.content|truncatechars:90 }}</p>
              </div>
              <div class="mb-1">
                {% for j in answers %}
                {% if j.pk == i.pk %}
                <li class="d-inline rounded-pill codesphere-btn" data-bs-toggle="modal" data-bs-target="#question_{{ question.id }}"><i class="icon-g rounded-circle bi bi-check-lg"></i> {{ j.number }} Answers</li>
                {% endif %}
                {% endfor %}
                <li class="d-inline rounded-pill codesphere-btn" data-bs-toggle="modal" data-bs-target="#question_{{ question.id }}"><i class="icon-p rounded-circle bi bi-hand-thumbs-up-fill"></i> {{ i.upvotes }} Likes</li>
              </div>
          </div>
      {% endfor %} 
      </div>
      <div class="col-lg-3">
          <div class="card shadow-sm post">
            
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <span>Views</span><br>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Add a tag" id="tags">
                    <input type="hidden" id="tags_input" name="tag">
                    <button class="btn codesphere-fill-btn" onclick="addTag()">Tag</button>
                  </div>
                  <div id="display"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <span>Filter</span><br>
                  <select id="filter" class="form-select" aria-label="Default select example">
                    <option value="1">Most Recent</option>
                    <option value="2">Most Likes</option>
                    <option value="3">Least Recent</option>
                    <option value="4">Least Recent</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12"><br>
                  <button class="btn codesphere-fill-btn mb-3 form-control" onclick="filter()">Filter</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow-sm post">
            <ul class="list-group list-group-flush">
              {% for i in popular %}
              <li class="list-group-item">
                <div class="user-display">
                  <img src="{{ i.asker.picture }}" class="rounded-circle" width="42" height="42">
                  <div class="user-info text-muted">{{ i.asker.username }}<br><div class="time">{{ i.timestamp }}</div></div><br>
                </div>
                {{ i.question }}</li>
              {% endfor %}
            </ul>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}