{% extends "codesphere/layout.html" %} {% load static %} {% block body %}
<div class="bg-light">
	<div class="container py-5">
		<div class="row h-100 align-items-center py-5">
			<div class="col-lg-6">
				<h1 class="display-4">Coding, Refined</h1>
				<p class="lead text-muted mb-0">Introducing Codesphere, a digital question and answer site for coding. Ask a question,
					and get many highly informative answers from our community of coders. Answer questions and get reputation. Your coding
					workflow is about to change. <b>Forever.</b></p>
				<br/>
				<button class="btn codesphere-bg-dark px-5 rounded-pill shadow-sm">Learn more!</button>
      </div>
      <div class="col-lg-6">
				<img src="{% static 'codesphere/img/browser.png' %}" class="img-fluid">
      </div>
    </div>
  </div>
  
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1">
          <h2 class="font-weight-light">Our Community</h2>
          <p class="font-italic text-muted mb-4">Our community is full of friendly programmers who will help you, no matter what type of question you ask. We will give your informative answers, to help you truly understand what your problem in your code is about. You will also be able to answer questions in our community, and get reputation for every upvote/correct answer you have. Start your journey today.</p>
          <a href="#" class="btn codesphere-bg-dark px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="{% static 'codesphere/img/qna2.png' %}" alt="" class="img-fluid" height="80"></div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="{% static 'codesphere/img/qna.png' %}" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6">
          <h2 class="font-weight-light">About Us.</h2>
          <p class="font-italic text-muted mb-4">Codesphere is a company made by 4 students in Singapore. Our goal is to make coding accessible to everybody, by making a great Q&A community for coders to use, no matter what proffeciency.</p>
          <a href="#" class="btn codesphere-bg-dark px-5 rounded-pill shadow-sm">Learn More</a>
        </div>
    </div>
  </div>
</div>
<footer class="w-100 py-4 flex-shrink-0 bg-dark">
    <div class="container py-4">
      <div class="row gy-4 gx-5">
          <div class="col-lg-4 col-md-6">
            <h5 class="h1 text-white">Codesphere</h5>
            <p class="small text-muted">Codesphere will continue to redefine what community means, and help you refine you own personal community.</p>
            <p class="small text-muted mb-0">© Copyrights. All rights reserved. <a class="text-primary" href="#">Codesphere.org</a></p>
          </div>
          <div class="col-lg-2 col-md-6">
            <h5 class="text-white mb-3">Quick links</h5>
            <ul class="list-unstyled text-muted">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6">
            <h5 class="text-white mb-3">Newsletter</h5>
            <p class="small text-muted">Don't want to miss out on anything new? Sign up for our Codesphere newsletter, and we will be sure to notify you on all our new updates!</p>
            <form action="#">
                <div class="input-group mb-3">
                  <input class="form-control" type="text" placeholder="Enter your email here.." aria-label="Enter your email here...">
                  <button class="btn codesphere-bg-dark" type="button"><i class="bi bi-send-fill"></i></button>
                </div>
            </form>
          </div>
      </div>
    </div>
</footer>
{% endblock %}