{% extends "codesphere/layout.html" %}

{% block body %}

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="card-group form-wrapper">
      <div class="card">
        <div class="card-body form">
          <form action="{% url 'login' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label>Username: </label><br>
                <!-- <input autofocus id="user" class="form-control" type="text" name="username" placeholder="Username"> -->
                {{ form.username }}
              </div>
              <div class="form-group">
                <label>Password: </label><br>
                <!-- <input id="user" class="form-control" type="password" name="password" placeholder="Password"> -->
                {{ form.password }}
              </div>
              <br>
              <input class="btn btn-primary" id="btn" type="submit" value="Login">
              <hr>
              Don't have an account? <a href="{% url 'register' %}">Register here.</a>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body form-desc">
          <h5 class="card-title display-4 white">Welcome back to Codesphere.org!</h5>
          <p class="card-text text-muted"><small><i>Hello, we welcome you back to your journey in programming at Codesphere! We are very exited to see you, just enter you login credentials, and you will be on your way to starting you journey through coding!</i></small></p>
        </div>
      </div>
    </div>


{% endblock %}